@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@700&display=swap');
@import '../../../styles/variables';

.post-header {
  padding: 24px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    .action {
      > * {
        margin-left: 12px;
        
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.create-post {
  padding-top: 48px;

  .title {
    outline: 0px solid transparent;
    position: relative;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 38px;

    &:empty::before {
      content: attr(placeholder);
      color: $n30;
    }
  }

  .editorjs {
    font-size: 18px;
    color: $n50;
  }
}

.publish-story {
  .form {
    margin-top: 24px;

    .clean {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $n5;
      padding: 4px 0;
      line-height: 26px;

      &.title {
        font-size: 18px;
        font-weight: 700;
      }

      &:focus {
        border: none;
        box-shadow: none;
        outline: none;
        border-bottom: 1px solid $n5;
      }
    }

    .banner {
      width: 100%;
      height: 200px;
      position: relative;
      
      img {
        max-height: 100%;
      }
    }
  }
}