.auth-header {
  padding: 32px 0;

  .logo {
    background-image: url(../../../assets/images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 81px;
    height: 24px;
  }
}