<div class="overview">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <page-head title="Overview" description="Hello {{user.firstName}}, welcome back!"></page-head>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="box">
          <div class="ico bg-e5 color-e100"><i class="icon-eye"></i></div>
          <div class="stat">
            <h2 class="px32 weight900">1.5m</h2>
            <p class="px18">Views</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="ico bg-p5 color-p100"><i class="icon-book-open"></i></div>
          <div class="stat">
            <h2 class="px32 weight900">1320</h2>
            <p class="px18">Stories</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="ico bg-s5 color-s100"><i class="icon-users"></i></div>
          <div class="stat">
            <h2 class="px32 weight900">48</h2>
            <p class="px18">Users</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="ico bg-w5 color-w100"><i class="icon-grid"></i></div>
          <div class="stat">
            <h2 class="px32 weight900">136</h2>
            <p class="px18">Categories</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>